*,
html,
body {
    margin: 0;
    padding: 0;
}
.section1{
    width: 100%;
    height: 200px;
    border: 4px dashed #ccc;
    margin-top: 50px;
    box-sizing: border-box;
}
 .thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }